html, body, #canvas-wrapper {
    width: 100%;
    height: 97%;
    padding: 10pt;
    margin: 0pt;
    display: block;
}

body {
    font-family: sans-serif;
    margin: auto;
    max-width: 99%;
    max-height: 99%;
}

#space {
    padding: 10pt;
    text-align: right;
}
